/* MOMAZOS DIEGO AGAGAGAGAGA */

  video {
            position: absolute;
            top: 0;
            left: 35;
            width: 90%; 
            height: 100%;
          }
          body {
            background-color: black;
          }
