

  video {
            position: absolute;
            top: 0;
            left: 35;
            width: 200%; 
            height: 100%;
          }
          body {
            background-image: url(ethan.png);
          }
